<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [1]:
# Taking user input for length and width using input function
length = input('Enter the length of rectangle: ')
width= input('Enter the width of rectangle: ')
# Area is calculated using formula
area=float(length)*float(width)
print("Area of rectangle is ",area)

Enter the length of rectangle: 42
Enter the width of rectangle: 68
Area of rectangle is  2856.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [2]:
# Taking user input for both numbers using input function
num1 = float(input('Enter first number: '))
num2 = float(input('Enter second number: '))
num1=num1+num2
num2=num1-num2
num1=num1-num2
# printing values after swapping
print("The values of first number and second number are ",num1," and ",num2)

Enter first number: 54
Enter second number: 23
The values of first number and second number are  23.0  and  54.0

(3) Write a Python program to calculate the length of a string.

In [3]:
a="Python Exercise"

print(len(a))

15

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [4]:
sample_string=input("Enter a string: ")
# creating an empty dictionary to store the count of characters
count_char= {}
for i in sample_string:
    if i in count_char:
        count_char[i] += 1
    else:
        count_char[i] = 1
print(count_char)

Enter a string: Hey! There!!
{'H': 1, 'e': 3, 'y': 1, '!': 3, ' ': 1, 'T': 1, 'h': 1, 'r': 1}

(5) Write a Python program to sum all the items in a list.

In [5]:
mylist=[5,10,15,20]
sum=0
for i in range(0,len(mylist)):
    # calculating sum
    sum=sum+mylist[i]
print(sum)

50

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [6]:
sample_string=input("Enter a string: ")
# storing the first character of string
first_char=str(sample_string[0])
new_string=sample_string.replace(first_char,'$')
new_string=new_string.replace(first_char.upper(),'$')
new_string=new_string.replace(first_char.lower(),'$')
# concatenating first character after replacing the remaining characters in the string
new_string=first_char+new_string[1:]
print(new_string)

Enter a string: restart
resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [7]:
# taking input from user for the number
n=int(input("Enter a number: "))
# defining a function to calculate the factorial
def factorial(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        fact = 1
        while(n > 1):
            fact *= n
            n -= 1
        return fact

print("Factorial of",n,"is",
factorial(n))

Enter a number: 15
Factorial of 15 is 1307674368000

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [8]:
mynumlist=[]
len_list=int(input("Enter number of items inlist: "))
for i in range(0,len_list):
    num=int(input())
    mynumlist.append(num)
    # seperating even numbers into new list
newlist = [x for x in mynumlist if x%2==0]
newlist

Enter number of items inlist: 5
2
15
17
88
24

[2, 88, 24]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [9]:
a = float(input('Enter first number: '))
b = float(input('Enter second number: '))
s=3.14 * (1+a/b) ** 3
s

Enter first number: 6
Enter second number: 3

84.78

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
# concatenating dictionaries
final_dic=dic1 | dic2 | dic3
final_dic

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [11]:
mytuple=(5,8,23,16,7,40,7,66,12)
# defining a function to find smallest and largest elements in tuple
# starts from first element and iterates through tuple by comparing each element
def max_and_min(mytuple):
    max_ele = min_ele = mytuple[0]
    for i in mytuple[1:]:
        if i < min_ele:
            min_ele = i
        elif i > max_ele:
            max_ele = i

    return (max_ele, min_ele)
largest,smallest=max_and_min(mytuple)
print("The largest and smallest elements in tuple are :",largest," and ",smallest)

The largest and smallest elements in tuple are : 66  and  5

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [12]:
sample_string=input("Enter a string: ")
# creating empty dictionary to store frequency of each character
count_char= {}
for i in sample_string:
    if i in count_char:
        count_char[i] += 1
    else:
        count_char[i] = 1
print(count_char)

Enter a string: Once upon a time
{'O': 1, 'n': 2, 'c': 1, 'e': 2, ' ': 3, 'u': 1, 'p': 1, 'o': 1, 'a': 1, 't': 1, 'i': 1, 'm': 1}

(13) Write a Python program to check whether an element exists within a tuple.

In [13]:
mytuple1=(5,8,23,16,7,40,7,66,12)
ele = int(input("Enter an element to check if it exists in tuple: "))
# checking if the input element exists in tuple and storing it in x
x = [i for i in mytuple1 if i == ele]
print(["yes" if x else "no"])

Enter an element to check if it exists in tuple: 40
['yes']

(14) Write a Python program to find maximum and the minimum value in a set.

In [14]:
myset={6,7,23,77,45,23}
# using max and min functions
print("Maximum value in set is :",max(myset))
print("Minimum value in set is :",min(myset))

Maximum value in set is : 77
Minimum value in set is : 6

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [17]:
# importing random module to randomly divide students
import random
# defining function which takes student list, minimum size and maximum size of group
def project_groups(student_list, minimum_group_size, maximum_group_size):
    # list is shuffled using random function
    random.shuffle(student_list)
    # declaring empty lists for individual groups and final list of project groups
    finalprojectgroups = []
    individualgroup = []
    # a student is added to individual list and a group is considered complete and added to final list if it meets maximumlength or if the student is last in that group
    for student in student_list:
        individualgroup.append(student)
        if len(individualgroup) >= minimum_group_size and (len(individualgroup) == maximum_group_size or student == student_list[-1]):
            finalprojectgroups.append(individualgroup)
            individualgroup = []
    return finalprojectgroups
student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453', 'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257', 'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597', 'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']
minimum_group_size = 4
maximum_group_size = 6
finalprojectgroups = project_groups(student_list_fall_2023, minimum_group_size, maximum_group_size)
for i, group in enumerate(finalprojectgroups, start=1):
    print(f"Group {i}: {', '.join(group)}")

Group 1: lb0582, sc1622, bk0413, ss2981, mb1296, rm1090
Group 2: vr0331, ag1609, tc0469, sg1638, dt0463, sd1268
Group 3: sm2364, gk0257, gm0558, mc1453, lp0502, su0137
Group 4: htn0086, ns0756, am2346, mt0825, vkk0022, vm0597
Group 5: ad1187, sm2343, am2807, ab1820, pm0658, sm2747
Group 6: sr1508, ac1770, sp2075, yr0180, sb1826, gp0306
Group 7: dv0310, sb1883, sd0926, mg1299, as2819

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [18]:
def duplicate_elements(array):
    list1 = []
    for i in array:
        if(array.count(i) > 1) and (i not in list1):
            list1.append(i)
    if list1 == []:
        return -1
    return list1
# array elements are split
array = list(map(int,input().split()))
print("Duplicate elements in the given array are : ",duplicate_elements(array))

2 3 4 5 77 66 2 3 9
Duplicate elements in the given array are :  [2, 3]

(17) Write a Python program to select all the Sundays of a specified year.

In [19]:
import datetime
def sundays_in_year(year):
    sundays = []
    # date variable is initialized to store the first date of january month of the year input by user
    date = datetime.date(year, 1, 1)
    #it checks for sunday in the year and adds it to sunday list
    while date.year == year:
        if date.weekday() == 6:
            sundays.append(date.strftime('%Y-%m-%d'))
        date += datetime.timedelta(days=1)
    return sundays
year = int(input("Enter a year: "))
sundays = sundays_in_year(year)
print(f"All Sundays in {year}:")
for sunday in sundays:
    print(sunday)

Enter a year: 1999
All Sundays in 1999:
1999-01-03
1999-01-10
1999-01-17
1999-01-24
1999-01-31
1999-02-07
1999-02-14
1999-02-21
1999-02-28
1999-03-07
1999-03-14
1999-03-21
1999-03-28
1999-04-04
1999-04-11
1999-04-18
1999-04-25
1999-05-02
1999-05-09
1999-05-16
1999-05-23
1999-05-30
1999-06-06
1999-06-13
1999-06-20
1999-06-27
1999-07-04
1999-07-11
1999-07-18
1999-07-25
1999-08-01
1999-08-08
1999-08-15
1999-08-22
1999-08-29
1999-09-05
1999-09-12
1999-09-19
1999-09-26
1999-10-03
1999-10-10
1999-10-17
1999-10-24
1999-10-31
1999-11-07
1999-11-14
1999-11-21
1999-11-28
1999-12-05
1999-12-12
1999-12-19
1999-12-26

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [20]:
n=int(input("Enter a number: "))
# defing function to calculate factorial of number
def factorial(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        fact = 1
        # using while loop to calculate factorial by multiplying with previous values until its greater than 1
        while(n > 1):
            fact *= n
            n -= 1
        return fact

print("Factorial of",n,"is",
factorial(n))

Enter a number: 7
Factorial of 7 is 5040

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [21]:
def even_numbers(n):
    count = 0
    for num in range(1, n + 1):
        # checking if the number is even and increasing the count if it is even
        if num % 2 == 0:
            count += 1
        elif num > n:  
            break
    return count
number = abs(int(input()))
print(even_numbers(number))

22
11

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [22]:
def count_vowels(string):
    # defining vowels in vowels list
    vowels = ["a","e","i","o","u"]
    count = 0
    for i in string:
        # checking for vowels in string by comparing each letter of string to vowels list and increasing the count if found
        if i in vowels:
            count += 1
    return count
print(count_vowels(input("Enter string to find the count of vowels :").lower()))

Enter string to find the count of vowels :Starbucks
2